# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
*.tsbuildinfo

# dependencies
node_modules

# NX cache
.nx

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# ignore workspace to allow people to have their own variation
# but it's still is on the repo and will be updated every time we create a new lib/app
*.code-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Next.js
.next

# env
.env
.env.local
.local.env

# python
__pycache__
.claude/worktrees
.claude/settings.local.json