@import url("https://rsms.me/inter/inter.css");
@import "./vars.scss";

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	color: $PrimaryTextColor;
	margin: 0;
	padding: 0;
}

.h1 {
	font-size: 5em;
}

.h2 {
	font-size: 4em;
}

.h3 {
	font-size: 3em;
}

.h4 {
	font-size: 1.5em;
}

.h5 {
	font-size: 1em;
}

.h6 {
	font-size: 0.5em;
}

.a {
	text-decoration: none;
	color: inherit;
	transition: 0.25s;
}

.a:hover,
.a:focus {
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	transform: translateY(-0.25em);
}

.root {
	margin: 0px;
}

.Page {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}
