@import "App/vars.scss";

.ProjectContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	padding: 5%;
	box-sizing: border-box;
	height: 100vh;
	width: 60vw;
}

.ProjectName {
	width: fit-content;

	// text
	font-family: "Inter var", sans-serif;
	font-size: 100%;
	font-size: 3.584vw;
	font-weight: bold;
	letter-spacing: -0.035em;
}

.ProjectDescription {
	color: $PrimaryTextColor;
	font-weight: normal;
}

.ProjectMoreButton {
	$MoreButtonColor: $PrimaryTextColor;

	width: fit-content;
	cursor: pointer;

	font-family: "Inter var", sans-serif;
	font-size: 0.75vw;

	// add underline
	text-decoration: underline;
	text-decoration-color: $MoreButtonColor;

	color: $MoreButtonColor;
}

.ProjectStats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: $breakpoint-tablet) {
	.ProjectContainer {
		width: 100%;
	}
	.ProjectName {
		font-size: 9vw;
		width: 100%;
		text-align: center;
	}
	.ProjectDescription {
		font-size: 3vw;
	}
	.ProjectMoreButton {
		font-size: 1vw;
	}
}

@media (max-width: $breakpoint-mobile) {
	.ProjectName {
		font-size: 5vh;
	}
	.ProjectDescription {
		font-size: 2vh;
	}
	.ProjectMoreButton {
		font-size: 1vh;
	}
}
